<div layout="column" layout-align="start center">
	
	<!-- Menu -->
	<div layout="row" layout-align="start center">
		<md-button id="addButton" class="md-raised md-primary" ng-click="sheetCtrl.showAddForm()">
			 <md-icon ng-class="{ 'plus': sheetCtrl.isAddDisplayed, 'minus': !sheetCtrl.isAddDisplayed }" aria-label="Cake"></md-icon> 
			Ajouter
		</md-button>
		
		<md-button class="md-raised md-primary" ng-click="sheetCtrl.getConsulte()">
			<md-icon md-svg-src="./includes/icons/ic_done_all_white_24px.svg" aria-label="Cake"></md-icon>
			Voir tout
		</md-button>

		<md-select aria-label="etat" ng-model="sheetCtrl.state" placeholder="Voir seulement"
			ng-change="sheetCtrl.getConsultOnly()">
			<md-option value="En attente">En attente</md-option>
			<md-option value="Relancé">Relancé</md-option>
			<md-option value="Entretien">Entretien</md-option>
			<md-option value="Refusé">Refusé</md-option>
		</md-select>

		<span id="count">{{ sheetCtrl.count }} lignes au total</span>
	</div>

	<!-- Add -->
	<form ng-if="sheetCtrl.isAddDisplayed" ng-submit="sheetCtrl.add($event)" name="addForm">
		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex-sm>
				<label for="label">Nom</label>
				<input name="label" id="label" type="text" ng-trim="false" ng-minlength="2" ng-model="sheetCtrl.addApplication.nom" 
				ng-pattern="sheetCtrl.regex.label" required/>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>Adresse</label>
				<input name="address" type="text" ng-model="sheetCtrl.addApplication.adresse" />
			</md-input-container>

		</div>
		<div layout-gt-xs="row">
			<md-input-container class="md-block" flex-sm>
				<label>Email {{sheetCtrl.addApplication.email.$valid}}</label>
				<input name="email" type="email" ng-model="sheetCtrl.addApplication.email" />
			</md-input-container>

			<md-input-container class="md-block" flex-sm>
				<label>Tel</label>
				<input name="tel" type="text" ng-model="sheetCtrl.addApplication.tel"  ng-trim="false" ng-pattern="sheetCtrl.regex.tel" />
			</md-input-container>

			<md-input-container class="md-block" flex-gt-xs>
				<label>Commentaires</label>
				<input name="commentaries" type="text" ng-model="sheetCtrl.addApplication.commentaires" />
			</md-input-container>

			<md-button class="md-raised md-primary" type="submit" ng-disabled="addForm.$invalid" />Valider</md-button>
		</div>
	</form>

	<!-- main table -->
	<table>
		<tr>
			<th>NOM</th>
			<th>ADRESSE</th>
			<th>EMAIL</th>
			<th>TEL</th>
			<th>DATE MODIF</th>
			<th>COMMENTAIRES</th>
			<th>ETAT</th>
			<th>PROCHAINE RELANCE</th>
			<th></th>
		</tr>

		<tr ng-class="{ 'blue': p.etat === 'Entretien', 'red': p.etat === 'Refusé' }" ng-repeat="p in sheetCtrl.sheet" ng-model="sheetCtrl.sheet">
			<form>
				<td>{{p.nom}}</td>
				<td>{{p.adresse}}</td>
				<td>{{p.email}}</td>
				<td>{{p.tel}}</td>
				<td>{{p.updatedAt}}</td>
				<td>{{p.commentaires}}</td>
				<td>{{p.etat}}</td>
			</form>
			<td>
				<p ng-if='!p.reapply'>{{ p.delai }} jours</p>
				<md-button ng-if='p.reapply' class="md-raised md-primary" ng-click="sheetCtrl.relance(p.id, $index)">
					<md-icon md-svg-src="./includes/icons/ic_flash_on_white_24px.svg" aria-label="Cake"></md-icon>
					Relancer
				</md-button>
			</td>
			<td>
				<md-button class="md-raised md-warn" ng-click="sheetCtrl.updateData($event, p, $index)">
					<md-icon md-svg-src="./includes/icons/ic_mode_edit_white_24px.svg" aria-label="Cake"></md-icon>
					Modifier
				</md-button>
			</td>
		</tr>
	</table>
</div>