<div ng-controller="helloCtrl" class="container">
	<div>
		<h2 class="form-signin-heading">
            Recherche
        </h2>

		<div class="col-xs-11">			
			<div class="tab-content" class="form-control">
				<select ng-options="c as c.nom for c in categories" ng-model="cat" ng-change="listPanneaux(cat.nom)">
					{{ cat }}
				</select>
				<br /><br />

				<ul class="list-group">
					<h3 ng-if="nb > 0">{{ nb }} Articles au total</h3>

					<div ng-repeat="pan in panneaux">
						<li class="list-group-item">
							<img src="{{pan.imageVignette}}" alt="img"/>
							{{ pan.reference }} : {{ pan.nom }}&nbsp;
							<a href="#/details/:{{ pan.reference }}">
								<button class="btn btn-sm btn-info">En savoir plus</button>
							</a>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>