body {
    margin:0px;
    padding:0px;
    color:black;
    font-weight:bold;
    
    font-family: "Verdana", "Arial", "sans-serif";
}

h1 {
    text-align: center;
    color: white;
}

input {
    padding:10px;
    border:2px solid grey;
    font-size:16px;
    font-weight: bold;
}

td {
    font-size:14px;
    width: 100px;
}

.md-no-underline {
    width: 175px;
    margin: 0px;
}

md-input-container {
    margin: 0px;
}

#dialog {
    margin: 10px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}