@font-face {
	font-family: "Arimo-Regular";
	src: url('../fonts/Arimo/Arimo-Regular.ttf');
}

body {
    margin:0px;
    padding:0px;
    color:black;
    font-family: "Arimo-Regular", "Arial", "sans-serif";
    cursor: default;
}

h1 {
    text-align: center;
    color: white;
}

#count, input, td {
    font-size: 18px;
}

input {
    padding:10px;
    border:2px solid grey;
    font-weight: bold;
}

td {
    width: 100px;
    text-align: center;
}

.md-no-underline {
    width: 175px;
    margin: 0px;
}

md-input-container {
    margin: 0px;
}

#dialog {
    margin: 10px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}